h1 {
  color:  aliceblue;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  color: aliceblue;
}
p {
  color: crimson;
}
body {
  color: aliceblue;
  background-color: black;
  outline: aliceblue;
}